.popular-categories {
    min-width: 1440px;
    margin: 0px auto 80px;
    .popular-categories-wrapper {
        width: 1240px;
        margin: 0 auto;
        font-family: var(--font-sf);
        h3 {
            font-size: 2rem;
            font-weight: 700;
            margin-bottom: 40px;
        }
        .categories-list {
            width: 100%;
            height: 310px;
            display: grid;
            grid-template-areas:
                'realty realty realty transport transport transport food food docs docs currency currency'
                'excursion excursion job job taxi taxi buysell buysell buysell service service service';
            gap: 20px;
            & div {
                height: 145px;
                min-width: 190px;
                max-width: 295px;
                border: 1px solid var(--main-blue);
                border-radius: 1rem;
                padding: 1.5rem;
                cursor: pointer;
                p{
                    font-weight: 600;
                    font-size: 1.25rem;
                }
                span {
                    display: flex;
                    align-items: center;
                    font-weight: 400;
                    font-size: 14px;
                    color: var(--main-blue);
                }
            }
            .realty {
                grid-area: realty;
            }
            .transport {
                grid-area: transport;
            }
            .food {
                grid-area: food;
            }
            .docs {
                grid-area: docs;
            }
            .currency {
                grid-area: currency;
            }
            .excursion {
                grid-area: excursion;
            }
            .job {
                grid-area: job;
            }
            .taxi {
                grid-area: taxi;
            }
            .buysell {
                grid-area: buysell;
            }
            .service {
                grid-area: service;
            }
        }
    }
}
