.modal {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0px;
    right: 0px;
    .modal-wrapper {
        width: 520px;
        border-radius: 1rem;
        border: none;
        padding: 60px 60px 80px;
        position: relative;
        top: 72px;
        left: 818px;
        box-shadow: 0px 0px 20px 0px #00000012;
        background-color: var(--white);
        svg {
            position: absolute;
            top: 16px;
            right: 16px;
        }
        .modal-header {
            display: flex;
            justify-content: space-between;
            font-size: 26px;
            font-weight: 400;
            margin-bottom: 1.5rem;
            color: var(--grey-2);
            .enter, .registration {
                width: 168px;
                height: 40px;
                display: grid;
                align-content: center;
                justify-content: center;
                cursor: pointer;
            }
            .enter-active{
                font-weight: 600;
                border-bottom: 1px solid var(--main-black);
                color: var(--main-black);
            }
        }
    }
}
