.modal-mobile{
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: absolute;
    .modal-mobile-content{
        position: absolute;
        top: 72px;
        left: calc(85% - 245px);
        box-shadow: 0px 0px 20px 0px #00000012;
        width: 300px;
        padding: 40px;
        border-radius: 8px;
        background-color: var(--main-background);
        font-weight: 500;
        font-family: var(--font-sf);
        .menu{
            .user-option{
                display: flex;
                align-items: center;
                margin-bottom: 24px;
                cursor: pointer;
                svg{
                    width: 24px;
                }
                .user-option-text{
                    color: var(--main-black);
                    margin: 4px 0px 4px 24px;
                }
            }
            .user-option:active{
                color: var(--grey-2);
            }
        }
        p{
            margin: 48px 0px 0px;
            color: #FF3F25;
            cursor: pointer;
        }

    }
}

@media (min-width: 425px) and (max-width: 474px){
    .modal-mobile{
        .modal-mobile-content{
            top: 40px;
            left: 130px;
        }
    }
}